* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  background-color: black;
  color: white;
}

li {
  display: inline-block;
  padding: 10px;
}

li:hover {
  background-color: green;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
}

ul li:hover > .dropdown {
  display: block;
  margin-left: 2rem;
  margin-top: 0.65rem;
}

.dropdown ul li {
  display: block;
}

ul li:hover > .dropdown > ul > li:hover > .dropdown {
  display: block;
  position: absolute;
  margin-left: 5.8rem;
  margin-top: -1.8rem;
}
.dropdown ul {
  background-color: black;
}

.dropdown ul li {
  white-space: nowrap;
}
